/********************************
 GENERAL STYLES
********************************/
body {
  margin: 0; }

/********************************
 SIDEBAR STYLES
********************************/
#mobile-nav {
  display: none;
  margin: 0;
  text-align: center;
  padding: 0;
  overflow: auto;
  list-style-type: none;
  background: #ED646C; }
  #mobile-nav li {
    display: block;
    border-top: 1px solid #f9f9f9;
    padding: 0.5em 0; }
    #mobile-nav li:first-child {
      border-top: 0; }
    #mobile-nav li .current-page {
      color: #49090c; }
    #mobile-nav li a {
      color: #fff;
      text-decoration: none;
      font-family: Oswald, Arial, sans-serif;
      font-weight: 200;
      letter-spacing: 0.1em;
      font-size: 1.25em;
      line-height: 2em;
      text-transform: uppercase; }
      #mobile-nav li a:hover {
        color: #49090c; }
  @media only screen and (max-width: 500px) {
    #mobile-nav {
      position: fixed;
      width: 100%;
      margin-top: 3.8em;
      z-index: 10; } }

#menu-btn {
  display: none;
  color: #000;
  font-family: Calibri, Arial, sans-serif;
  text-decoration: none;
  font-weight: 300;
  padding: 0.25em 0 0;
  float: right;
  margin-right: 1.5em; }
  @media only screen and (max-width: 500px) {
    #menu-btn {
      display: inline-block; } }

.sidebar {
  position: fixed;
  height: 100vh;
  width: 20%;
  float: left;
  padding: 3em 0 0 3em; }
  .sidebar a {
    text-decoration: none;
    color: #000; }
  .sidebar .back {
    display: none; }
  .sidebar h1 {
    font-family: Oswald, Arial, sans-serif;
    font-weight: bold;
    font-size: 3em;
    letter-spacing: 0.1em;
    margin: 0; }
    .sidebar h1 .first-name {
      color: #ED646C; }
    .sidebar h1 .last-name {
      font-weight: 300; }
  .sidebar small {
    font-family: Oswald, Arial, sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.3em; }
  .sidebar ul {
    list-style-type: none;
    padding: 0; }
    .sidebar ul li {
      padding: 1em 0 0.5em; }
      .sidebar ul li .current-page {
        color: #ED646C; }
      .sidebar ul li:first-child {
        border-bottom: 1px solid #dbd9d4;
        padding-bottom: 0.75em; }
      .sidebar ul li:last-child {
        border-top: 1px solid #dbd9d4;
        font-size: 0.8em;
        font-style: italic;
        margin-top: 0.5em;
        padding-top: 2em; }
      .sidebar ul li a {
        font-family: Georgia, serif;
        font-weight: 300;
        text-decoration: none;
        color: #000;
        font-size: 0.8em; }
        .sidebar ul li a:hover {
          color: #ED646C; }
  @media only screen and (max-width: 1200px) {
    .sidebar {
      width: 30%; }
      .sidebar h1 {
        font-size: 2.75em; }
      .sidebar small {
        letter-spacing: 0.3em; } }
  @media only screen and (max-width: 768px) {
    .sidebar {
      position: relative;
      padding: 2em 0 0 2em; }
      .sidebar h1 {
        font-size: 1.8em; }
      .sidebar small {
        font-size: 0.7em;
        letter-spacing: 0.1em; } }
  @media only screen and (max-width: 500px) {
    .sidebar {
      position: fixed;
      display: block;
      height: auto;
      width: 100%;
      overflow: hidden;
      float: none;
      padding: 1em 0;
      text-align: center;
      border-bottom: 1px solid #dbd9d4;
      z-index: 20;
      background-color: #fff; }
      .sidebar .back {
        float: left;
        display: inline-block;
        padding: 0.2em 0 0 1em;
        text-align: center;
        font-size: 1em;
        font-family: Calibri, Arial, sans-serif;
        font-weight: 300; }
        .sidebar .back a {
          text-decoration: none;
          color: #fff;
          background: #ED646C; }
          .sidebar .back a:hover {
            text-decoration: none; }
      .sidebar h1 {
        float: left;
        display: inline-block;
        font-size: 1.25em;
        margin-left: 1.25em; }
      .sidebar small {
        display: none; }
      .sidebar ul {
        display: none; } }

.content {
  width: 70%;
  display: inline-block;
  float: right;
  padding: 4em 0; }
  .content ul {
    width: 75%;
    list-style-type: none;
    padding: 0 0 1em; }
    .content ul li {
      position: relative;
      float: left;
      width: 33.33%;
      margin-bottom: -4px;
      z-index: 0; }
      .content ul li .thumb {
        position: absolute;
        width: 100%;
        align-self: center;
        z-index: 10; }
      .content ul li .thumb-hover {
        width: 100%; }
  .content h2 {
    font-family: Oswald, Arial, sans-serif;
    font-weight: bold;
    font-size: 0.8em;
    text-transform: uppercase;
    width: 70%;
    letter-spacing: 0.2em; }
  .content #about-img {
    width: 70%;
    display: block; }
  .content .dropcap {
    color: #fff;
    background: #ED646C;
    font-size: 2em;
    float: left;
    padding: 0.2em 0.4em;
    margin: 0.5em 0.3em 0 0; }
  .content .first-sentence {
    text-transform: uppercase;
    letter-spacing: 0.2em; }
  .content small {
    font-family: Georgia, serif;
    color: dimgray;
    font-size: 0.8em;
    display: block;
    width: 70%;
    text-align: justify;
    letter-spacing: 0.05em; }
  .content p {
    font-family: Georgia, serif;
    width: 70%;
    font-size: 0.8em;
    line-height: 1.5em; }
    .content p a {
      color: #ED646C;
      text-decoration: none;
      font-weight: bold; }
      .content p a:hover {
        text-decoration: underline; }
  .content .p-nav {
    width: 70%;
    min-height: 2em;
    display: block;
    margin-top: 3em; }
    .content .p-nav a {
      background: #ED646C;
      padding: 0.3em 1em;
      color: #fff;
      font-weight: 300;
      font-style: italic;
      text-decoration: none; }
      .content .p-nav a:hover {
        color: #49090c;
        text-decoration: none; }
    .content .p-nav .prev {
      float: left; }
    .content .p-nav .next {
      float: right; }
  .content h3 {
    width: 70%;
    font-family: Oswald, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: 0.2em; }
  .content .p-gallery {
    clear: both;
    overflow: auto; }
  .content .p-details {
    padding-top: 4em; }
  .content .p-description {
    display: block;
    width: 70%;
    font-family: Georgia, serif;
    font-size: 0.7em;
    line-height: 1.3em;
    letter-spacing: 0.1em; }
  .content .p-img {
    float: left;
    margin: 2em 0 0;
    vertical-align: top; }
  .content .full {
    width: 70%; }
  .content .half {
    width: 35%; }
  @media only screen and (max-width: 1200px) {
    .content {
      width: 60%; } }
  @media only screen and (max-width: 768px) {
    .content {
      padding: 0; }
      .content h3 {
        width: 90%; }
      .content .p-nav {
        width: 90%;
        font-size: 1.2em;
        margin-top: 2em; }
      .content .p-description {
        width: 90%;
        font-size: 1em; }
      .content .p-img {
        float: none; }
      .content .half {
        width: 90%; }
      .content .full {
        width: 90%; } }
  @media only screen and (max-width: 500px) {
    .content {
      float: none;
      width: 100%;
      margin: 6em auto;
      text-align: center; }
      .content small {
        width: 90%;
        margin: 0 auto; }
      .content h2 {
        text-align: center;
        margin: 0 auto 1em;
        width: 90%; }
      .content #about-img {
        width: 90%;
        margin: 3em auto 1em; }
      .content .dropcap {
        font-size: 3em;
        padding: 0.05em 0.2em;
        margin: 0 0.25em 0 0.3em; }
      .content p {
        font-family: Georgia, serif;
        text-align: left;
        margin: 1em auto;
        width: 90%;
        font-size: 1em;
        line-height: 1.4em; }
      .content ul {
        margin: 0 auto;
        width: 90%; }
        .content ul li {
          width: 48%;
          margin: 0.5% 1%; }
      .content h3 {
        margin: 3em auto 0;
        width: 90%; }
      .content .p-nav {
        margin-top: 0;
        width: 90%;
        font-size: 1em; }
      .content .p-description {
        width: 90%;
        font-size: 1em; }
      .content .p-img {
        float: none; }
      .content .half {
        width: 90%; }
      .content .full {
        width: 90%; } }

#contact-form {
  width: 70%;
  font-family: Georgia, serif;
  font-size: 0.8em;
  text-align: left;
  padding: 1em 0 0; }
  #contact-form label {
    font-family: Calibri, Arial, sans-serif;
    text-align: left;
    display: block;
    margin: 1em 0 0.1em;
    letter-spacing: 0.1em;
    font-weight: 300; }
  #contact-form input, #contact-form textarea {
    margin: 0.5em 0;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    -webkit-box-shadow: 3px 3px 0px rgba(93, 53, 57, 0.3);
    -mox-box-shadow: 3px 3px 0px rgba(93, 53, 57, 0.3);
    box-shadow: 3px 3px 0px rgba(93, 53, 57, 0.3); }
  #contact-form input {
    font-size: 1em;
    height: 25px; }
  #contact-form input[name="name"], #contact-form input[name="email"] {
    width: 40%; }
  #contact-form input[name="subject"] {
    width: 70%; }
  #contact-form textarea {
    font-size: 1.3em;
    width: 70%;
    height: 150px; }
  #contact-form #submit {
    height: 80px;
    padding: 0 1em;
    border: 0;
    border-radius: 0;
    background: #ED646C;
    color: #fff;
    font-size: 3.5em;
    font-weight: 300;
    font-family: 'Dancing Script', cursive;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; }
    #contact-form #submit:hover {
      opacity: 0.7; }
  @media only screen and (max-width: 1010px) {
    #contact-form {
      width: 90%;
      margin: 0 auto;
      text-align: center; } }
  @media only screen and (max-width: 600px) {
    #contact-form {
      width: 90%;
      text-align: left; }
      #contact-form input[name="name"], #contact-form input[name="email"] {
        width: 60%; }
      #contact-form input[name="subject"] {
        width: 85%; }
      #contact-form textarea {
        font-size: 1.3em;
        width: 100%;
        height: 150px; } }

/*# sourceMappingURL=main.css.map */
