---
---

/* 
    ==TABLE OF CONTENTS==

    [1] GENERAL STYLES
    [2] SIDEBAR STYLES
        [2a] MOBILE NAVIGATION STYLES
        [2b] DESKTOP & TABLET NAVIGATION STYLES
    [3] CONTENT STYLES
        [3a] GENERAL CONTENT SECTION STYLES
        [3b] PORTFOLIO SPECIFIC STYLES
        [3c] ABOUT PAGE SPECIFIC STYLES
        [3d] PROJECT PAGE SPECIFIC STYLES
            [3di] PROJECT IMAGE STYLES
            [3dii] PROJECT DETAILS STYLES
        [3e] CONTACT PAGE SPECIFIC STYLES

*/


/********************************
 [1] GENERAL STYLES
********************************/
$palette-color-1: #eb8c00;

body {
    margin: 0;
}

/********************************
 [2] SIDEBAR STYLES
********************************/

/* [2a] MOBILE NAVIGATION STYLES */

// Styles for mobile dropdown menu
// Mobile navigation menu only appears for screens of width 500px or less
#mobile-nav {
    display: none;
    margin: 0;
    text-align: center;
    padding: 0;
    overflow: auto;
    list-style-type: none;
    background: $palette-color-1;
    li {
        &:first-child {
            border-top: 0;
        }
        display: block;
        border-top: 1px solid #f9f9f9;
        padding: 0.5em 0;
        .current-page {
            color: darken($palette-color-1, 50%);
        }
        a {
            color: #fff;
            text-decoration: none;
            font: 200 1.25em/2em Georgia, serif;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            &:hover {
                color: darken($palette-color-1, 50%);
            }
        }
    }
    @media only screen and (max-width: 500px) {
        position: fixed;
        width: 100%;
        margin-top: 3.75em;
        z-index: 10;
    }
}

// Styles for mobile menu button
// Button appears only for screens of width 500px or less
#menu-btn {
    display: none;
    color: #000;
    font: {
        family: Calibri, Arial, sans-serif;
        weight: 300;
    }
    text-decoration: none;
    padding: 0.25em 0 0;
    float: right;
    margin-right: 1.5em;
    @media only screen and (max-width: 500px) {
        display: inline-block;
    }
}


/* [2b] DESKTOP & TABLET NAVIGATION STYLES */

// Styles for text and links in sidebar
// Sidebar appears for screen widths greater than 500px
// For screen widths at or less than 500px sidebar shrinks into fixed top bar
// Styles are ordered to reflect structure of html as closely as possible
.sidebar {
    // General side bar styles
    position: fixed;
    height: 100vh;
    width: 24%;
    float: left;
    padding: 1em 1em 0;
    text-align: center;
    background: url('/images/extra_clean_paper_@2X.png') repeat;
    .sidebar-content {
        background: #fff;
        padding: 2em 3em;
        height: 84%;
        box-shadow: 1px 1px 2px #ccc;
    }
    .back {
        display: none;
    }
    #logo {
        width: 128px;
        height: 65px;
        margin: 0 auto;
        display: block;
        background: url('/images/logo.png') bottom;
        background-size: cover;
        &:hover {
            background-position: 0 2px;
        }
    }
    h1 {
        font: bold 3em/100% Oswald, Arial, sans-serif;
        letter-spacing: 0.1em;
        margin: 0;
        .first-name {
            color: $palette-color-1;
        }
        .last-name {
            font-weight: 300;
        }
    }
    small {
        display: block;
        margin-top: 1em;
        color: $palette-color-1;
        font: {
            size: 0.8em;
            family: 'Georgia', serif;
        }
        text-transform: uppercase;
        letter-spacing: 0.2em;
    }
    p {
        font-size: 0.9em;
        font-style: italic;
        margin: 2em 0;
    }
    a {
        text-decoration: none;
        color: #000;
    }
    ul {
        list-style-type: none;
        padding: 0.25em 0;
        li {
            padding: 1em 0 0.5em;
            .current-page {
                color: $palette-color-1;
            }
            &:first-child {
                border-top: 1px solid $palette-color-1;
            }
            &:last-child {
                border-top: 1px solid $palette-color-1;
                font: {
                    size: 0.8em;
                    style: italic;
                }
                margin-top: 0.5em;
                padding-top: 2em;
            }
            a {
                font: 300 0.8em/100% Georgia, serif;
                text-decoration: none;
                color: #000;
                &:hover {
                    color: $palette-color-1;
                }
            }
        }
    }
    @media only screen and (max-width: 1200px) {
        width: 30%;
        h1 {
            font-size: 2.75em;
        }
        small {
            letter-spacing: 0.3em;
        }
    }
    @media only screen and (max-width: 800px) {
        position: relative;
        padding: 0;
        width: 35%;
        background: none;
        .sidebar-content {
            box-shadow: none;
            padding: 2em;
        }
        h1 {
            font-size: 1.8em;
        }
        #logo {
            width: 60px;
            height: 30px;
            &:hover {
                background-position: 0 0.6px;
            }
        }
        small {
            font-size: 0.7em;
            letter-spacing: 0.1em;
        }
    }
    @media only screen and (max-width: 500px) {
        position: fixed;
        display: block;
        height: auto;
        width: 100%;
        overflow: hidden;
        float: none;
        padding: 1em 0.1em;
        text-align: left;
        border-bottom: 1px solid #dbd9d4;
        z-index: 20;
        background: #fff;
        .sidebar-content{
            padding: 0;
            box-shadow: none;
        }
        .back {
            float: left;
            display: inline-block;
            padding: 0.2em 0 0.2em 1em;
            text-align: center;
            font: 300 1em/100% Calibri, Arial, sans-serif;
            a {
                text-decoration: none;
                color: #fff;
                background: $palette-color-1;
                &:hover {
                    text-decoration: none;
                }
            }
        }
        #logo {
            width: 50px;
            height: 23.5px;
            margin: 0 0 0 1em;
            display: inline-block;
            background: url('/images/logo-mobile.png') top;
            background-size: cover;
            &:hover {
                background-position: 0 0;
            }
        }
        h1 {
            float: left;
            display: inline-block;
            font-size: 1.25em;
            margin-left: 1.25em;
        }
        p {
            display: none;
        }
        small {
            display: none;
        }
        p {
            display: none;
        }
        ul {
            display: none;
        }
    }
}

/********************************
 [3] CONTENT STYLES
********************************/

.content {
    width: 73.5%;
    display: inline-block;
    float: right;
    padding: 4em 0 7em;

    // [3a] GENERAL CONTENT SECTION STYLES
    h1 {
        margin: 0 auto 1em;
        padding-bottom: 0.5em;
        width: 90%;
        font: 2em/100% 'Georgia', serif;
        text-align: center;
        border-bottom: 1px solid $palette-color-1;
        letter-spacing: 0.1em
    }
    h2 {
        font: bold 0.8em/100% Oswald, Arial, sans-serif;
        text-transform: uppercase;
        width: 70%;
        letter-spacing: 0.2em;
    }
    p {
        font: 1.2em/1.5em Georgia, serif;
        width: 100%;
        a {
            color: $palette-color-1;
            text-decoration: none;
            font-weight: bold;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    
    // [3b] PORTFOLIO SPECIFIC STYLES
    ul {
        width: 90%;
        list-style-type: none;
        padding: 0 0 1em;
        margin: 0 auto;
        li {
            position: relative;
            float: left;
            width: 24%;
            height: 0;
            padding-bottom: 24%;
            margin: 0.5%;
            z-index: 0;
            .thumb {
                position: absolute;
                width: 100%;
                align-self: center;
                z-index: 10;
            }
            .thumb-hover {
                width: 100%;
            }
        }
    }

    // [3c] ABOUT PAGE SPECIFIC STYLES
    #about-img {
        width: 70%;
        display: block;
        margin: 0 auto;
    }
    .paragraphs {
        width: 70%;
        margin: 0 auto;
    }
    .dropcap {
        color: #fff;
        background: $palette-color-1;
        font-size: 3em;
        float: left;
        padding: 0.2em 0.4em;
        margin: 0 0.3em 0 0;
    }
    .first-sentence {
        text-transform: uppercase;
        letter-spacing: 0.2em;
    }

    // [3d] PROJECT PAGE SPECIFIC STYLES
    .skills-list {
        margin: 0.5em 0;
        li {
            font-size: 0.75em;
            width: auto;
            background: $palette-color-1;
            height: 1em;
            padding: 0.25em 1em;
            line-height: 1em;
            color: #fff;
            letter-spacing: 0.1em;
            border-radius: 5px;
            border: 0;
        }
    }
    .bottom {
        display: none;
    }
    small {
        font: 0.8em/100% Georgia, serif;
        color: $palette-color-1;
        display: block;
        width: 100%;
        text-align: justify;
        letter-spacing: 0.05em;
        margin: 3em 0 1em;
    }    
    .p-nav {
        width: 100%;
        min-height: 2em;
        display: block;
        a {
            background: $palette-color-1;
            padding: 0 1em;
            color: #fff;
            border: 3px solid $palette-color-1;
            font: {
                size: 0.75em;
                weight: 300;
                style: italic;
            }
            text-decoration: none;
            &:hover {
                background: #fff;
                color: darken($palette-color-1, 50%);
                text-decoration: none;
            }
        }
        .prev {
            float: left;
        }
        .next {
            float: right;
        }
    }
    h3 {
        width: 100%;
        font: 1.5em/100% 'Georgia', serif;
        letter-spacing: 0.2em;
        margin: 0 auto;
        padding: 0.5em 0;
        border-bottom: 1px solid $palette-color-1;
    }
    // [3di] PROJECT IMAGE STYLES
    .project {
        width: 75%;
        margin: 0 auto;
    }
    .p-gallery {
        clear: both;
        overflow: auto;
        margin-bottom: 3em;
    }
    .p-img {
        float: left;
        margin: 2em 0 0;
        vertical-align: top;
    }
    .full {
        width: 100%;
    }
    .half {
        width: 50%;
    }
    // [3dii] PROJECT DETAILS STYLES
    .p-details {
        text-align: center;
    }
    .p-description {
        display: block;
        width: 100%;
        font: 0.9em/100% Georgia, serif;
        line-height: 1.5em;
        margin: 1.5em 0;
        clear: right;
        text-align: left;
        -webkit-column-count: 2; /* Chrome, Safari, Opera */
        -moz-column-count: 2; /* Firefox */
        column-count: 2;
    }
    .live-site {
        display: block;
        width: 48%;
        font: {
            family: Georgia, serif;
            weight: 200;
            size: 0.75em;
        }
        clear: both;
        background: $palette-color-1;
        color: #fff;
        padding: 0.5em 1em;
        margin: 1em auto;
        text-decoration: none;
        text-align: center;
        border: 3px solid $palette-color-1;
        text-transform: uppercase;
        &:hover {
            background: #fff;
            color: darken($palette-color-1, 50%);
        }
    }
    @media only screen and (max-width: 1200px) {
        width: 67.5%;
        
    }
    @media only screen and (max-width: 800px) {
        width: 65%;
        padding: 2em 0 0;
        h3 {
            width: 100%;
        }
        #about-img {
            width: 90%;
        }
        .paragraphs {
            width: 90%;
        }
        p {
            font-size: 1em;
        }
        ul li {
            width: 30.6%;
            height: 0;
            padding-bottom: 30.6%;
            margin: 1%;
            border: 1px solid #ddd;
        }
        .p-nav {
            width: 100%;
            font-size: 1.2em;
            margin-top: 2em;
        }
        .p-description {
            width: 100%;
            font-size: 1em;
            -webkit-column-count: 1; /* Chrome, Safari, Opera */
            -moz-column-count: 1; /* Firefox */
            column-count: 1;
        }
        .p-img {
            float: none;
        }
        .half {
            width: 100%;
        }
        .full {
            width: 100%;
        }
    }
    @media only screen and (max-width: 500px) {
        float: none;
        width: 100%;
        margin: 4em auto;
        text-align: center;
        .project {
            width: 100%;
        }
        h1 {
            font-size: 1em;
        }
        .paragraphs {
            width: 100%;
        }
        small {
            width: 90%;
            margin: 3em auto;
            text-align: center;
        }
        h2 {
            text-align: center;
            margin: 0 auto 1em;
            width: 90%;
        }
        #about-img {
            width: 90%;
            margin: 3em auto 1em;
        }
        .dropcap {
            font-size: 3em;
            padding: 0.05em 0.2em;
            margin: 0 0.25em 0 0.3em;
        }
        p {
            font: 1em/1.4em Georgia, serif;
            text-align: left;
            margin: 1em auto;
            width: 90%;
        }
        ul {
            margin: 0 auto;
            width: 90%;
            li {
                width: 47%;
                height: 0;
                padding-bottom: 47%;
                margin: 1%;
            }
        }
        h3 {
            margin: 1.5em auto 0;
            width: 90%;
            font-size: 1em;
        }
        .skills-list {
            margin: 1em auto;
            text-align: center;
        }
        .top {
            display: none;
        }
        .bottom {
            display: block;
        }
        .p-nav {
            margin-top: 1em;
            width: 90%;
            font-size: 1em;
        }
        .p-details {
            padding-top: 0;
        }
        .p-description {
            width: 90%;
            font-size: 1em;
            margin: 2em auto;
            -webkit-column-count: 1; /* Chrome, Safari, Opera */
            -moz-column-count: 1; /* Firefox */
            column-count: 1;
        }
        .p-img {
            float: none;
        }
        .half {
            width: 90%;
        }
        .full {
            width: 90%;
        }
    }
}

// [3e] CONTACT FORM SPECIFIC STYLES
#contact-form {
    margin: 0 auto;
    width: 70%;
    font: 0.8em/100% Georgia, serif;
    text-align: left;
    padding: 1em 0 0;
    label {
        font: {
            family: Calibri, Arial, sans-serif;
            weight: 300;
        }
        text-align: left;
        display: block;
        margin: 1em 0 0.1em;
        letter-spacing: 0.1em;
    }
    input, textarea {
        margin: 0.5em 0;
        border: 1px solid #e0e0e0;
        border-radius: 5px;
        -webkit-box-shadow: 3px 3px 0px rgba(93, 53, 57, 0.3);
        -moz-box-shadow: 3px 3px 0px rgba(93, 53, 57, 0.3);
        box-shadow: 3px 3px 0px rgba(93, 53, 57, 0.3);
    }
    input {
        font-size: 1em;
        height: 25px;
    }
    input[name="name"], input[name="email"] {
        width: 50%;
    }
    input[name="subject"] {
        width: 100%;
    }
    textarea {
        font-size: 1.3em;
        width: 100%;
        height: 150px;
    }
    #submit {
        height: 80px;
        padding: 0 1em;
        border: 0;
        border-radius: 0;
        background: $palette-color-1;
        color: #fff;
        font: 300 3.5em/100% 'Dancing Script', cursive;
        cursor: pointer;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;  
        &:hover {
            opacity: 0.7;
        }
    }
    @media only screen and (max-width: 1010px) {
        width: 90%;
        margin: 0 auto;
    }
    @media only screen and (max-width: 600px) {
        width: 90%;
        text-align: left;
        input[name="name"], input[name="email"] {
            width: 60%;
        }
        input[name="subject"] {
            width: 85%;
        }
        textarea {
            font-size: 1.3em;
            width: 100%;
            height: 150px;
        }
    }
}