<ul id="mobile-nav">
    <li><a href="/">Portfolio</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/contact">Contact</a></li>
</ul>
<div class="sidebar">
    <div class="sidebar-content">
        <a id="menu-btn" href="#">Menu</a>
        <a href="/">
            <div id="logo"></div>
            <h2>WEB DESIGNER &amp; DEVELOPER</h2>
        </a>
        <p>Welcome! My name is Daria Wu a designer and web/software developer. This is my personal design and web portfolio.</p>
        <ul>
            <li>
                <a href="/">Portfolio</a>
            </li>
            <li>
                <a href="/about">About</a>
            </li>
            <li>
                <a href="/contact">Contact</a>
            </li>
            <li>Coded with love by Daria Wu.</li>
        </ul>
    </div>
</div>